body{
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.spinner-box {
    height: auto;
    background-image: url("https://media.istockphoto.com/id/1732963074/it/foto/cielo-notturno-stellato-nello-spazio.jpg?s=612x612&w=0&k=20&c=PhSzaViOBvhIuPFj4KJWN43HoQV6BoKrLQlbsVT_cXg=");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sistema-solare {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orbita {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fafbfc3f;
    border-radius: 50%;
}

.nettuno-orbita{
    width: 750px;
    height: 750px;
    animation: spin 32s linear 0s infinite;
}

.urano-orbita{
    width: 650px;
    height: 650px;
    animation: spin 28s linear 0s infinite;
}

.saturno-orbita{
    width: 550px;
    height: 550px;
    animation: spin 24s linear 0s infinite;
}

.giove-orbita{
    width: 450px;
    height: 450px;
    animation: spin 20s linear 0s infinite;
}

.marte-orbita{
    width: 350px;
    height: 350px;
    animation: spin 16s linear 0s infinite;
}

.terra-orbita {
    width: 250px;
    height: 250px;
    animation: spin 12s linear 0s infinite;
}

.venere-orbita {
    width: 150px;
    height: 150px;
    animation: spin 7.4s linear 0s infinite;
}

.mercurio-orbita {
    width: 100px;
    height: 100px;
    animation: spin 3s linear 0s infinite;
}

.sole-orbita{
    animation: none;
    animation-direction: none;
    animation-duration: none;
    animation: spin 0s 0s infinite;
    position: relative;
    width: 95px;
    height: 95px;
}

.planet {
    position: absolute;
    top: -15px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    
}

.nettuno{
    width: 30px;
    height: 30px;
    background-image: url(./asset/nettuno\(1\)\ -\ Copia.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* top: -15px; */
}

.urano{
    width: 36px;
    height: 34px;
    background-image: url(./asset/Urano.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* top: -17px; */
}

.saturno{
    width: 90px;
    height: 85px;
    background-image: url(./asset/Saturno\ -\ Copia.png);
    background-repeat: no-repeat;
    background-size: cover;
    top: -45.5px;
}

.giove{
    width: 60px;
    height: 55px;
    background-image: url(./asset/Giove.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* top: -37.5px; */
}

.marte{
    width: 29px;
    height: 22px;
    background-image: url(./asset/marte-2\(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    /* top: -11px; */
}

.terra{
    width: 35px;
    height: 31px;
    background-image: url(./asset/terra.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* top: -15.5; */
}

.venere{
    width: 39px;
    height: 34px;
    background-image: url(./asset/venere.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* top: -10,5; */
}

.mercurio{
    width: 10px;
    height: 10px;
    background-image: url(./asset/Mercurio.png);
    background-repeat: no-repeat;
    background-size: cover;
    top: -5px;
}

.sole {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-image: url(./asset/sole\ g\ -\ Copia.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* z-index: 10; */
   animation: none;
}


@keyframes spin {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
} 